<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s2017s25.kr.hs.mirim.present_2018stac">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ptPlayActivity" />
        <activity android:name=".activity.PTlistActivity" />
        <activity android:name=".activity.StopwatchActivity" />
        <activity android:name=".activity.ScriptKeyPointListActivity" />
        <activity android:name=".activity.ScriptContentInput" />
        <activity android:name=".activity.keypointInputActivity" />
        <activity android:name=".activity.VoiceRecoActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.ScriptContent" />
        <activity android:name=".activity.AppInfo"></activity>
    </application>

</manifest>